<window id="4">
	<defaultcontrol>10</defaultcontrol>
	<allowoverlay>yes</allowoverlay>
	<controls>
		<control type="image" id="1">
			<description>background image</description>
			<posx>0</posx>
			<posy>0</posy>
			<width>720</width>
			<height>576</height>
			<texture>background-black.png</texture>
		</control>

		<control type="group" id="9000">
			<control type="button" id="10">
				<description>skin Settings</description>
				<posx>50</posx>
				<posy>194</posy>
				<label>20077</label>
				<onclick>ActivateWindow(56)</onclick>
				<onleft>11</onleft>
				<onright>11</onright>
				<onup>9001</onup>
				<ondown>9001</ondown>
				<include>buttonpanelslide</include>
			</control>
			<control type="button" id="11">
				<description>reload skin</description>
				<posx>50</posx>
				<posy>231</posy>
				<label>20183</label>
				<onclick>XBMC.ReloadSkin()</onclick>
				<onleft>10</onleft>
				<onright>10</onright>
				<onup>9001</onup>
				<ondown>9001</ondown>
				<include>buttonpanelslide</include>
			</control>
		</control>
		
		<control type="group" id="9001">		
  		<control type="button" id="6">
  			<description>My Videos</description>
  			<font>font10</font>
  			<posx>245</posx>
  			<posy>155</posy>
  			<width>80</width>
  			<height>80</height>
  			<texturefocus>settings-videos-focus.png</texturefocus>
  			<texturenofocus>settings-videos-nofocus.png</texturenofocus>
  			<aligny>top</aligny>
  			<textoffsety>100</textoffsety>
  			<label>3</label>
  			<align>center</align>
  			<onclick>ActivateWindow(MyVideosSettings)</onclick>
  			<onleft>9000</onleft>
  			<onright>7</onright>
  			<onup>10</onup>
  			<ondown>10</ondown>
  			<include>contentpanelslide</include>
  		</control>
  		<control type="button" id="7">
  			<description>My Music</description>
  			<font>font10</font>
  			<posx>345</posx>
  			<posy>155</posy>
  			<width>80</width>
  			<height>80</height>
  			<texturefocus>settings-music-focus.png</texturefocus>
  			<texturenofocus>settings-music-nofocus.png</texturenofocus>
  			<aligny>top</aligny>
  			<textoffsety>100</textoffsety>
  			<label>2</label>
  			<align>center</align>
  			<onclick>ActivateWindow(MyMusicSettings)</onclick>
  			<onleft>6</onleft>
  			<onright>9</onright>
  			<onup>2</onup>
  			<ondown>2</ondown>
  			<include>contentpanelslide</include>
  		</control>
  		<control type="button" id="9">
  			<description>My Pictures</description>
  			<font>font10</font>
  			<posx>445</posx>
  			<posy>155</posy>
  			<width>80</width>
  			<height>80</height>
  			<texturefocus>settings-pictures-focus.png</texturefocus>
  			<texturenofocus>settings-pictures-nofocus.png</texturenofocus>
  			<aligny>top</aligny>
  			<textoffsety>100</textoffsety>
  			<label>1</label>
  			<align>center</align>
  			<onclick>ActivateWindow(MyPicturesSettings)</onclick>
  			<onleft>7</onleft>
  			<onright>8</onright>
  			<onup>4</onup>
  			<ondown>4</ondown>
  			<include>contentpanelslide</include>
  		</control>
  		<control type="button" id="8">
  			<description>My Programs</description>
  			<font>font10</font>
  			<posx>545</posx>
  			<posy>155</posy>
  			<width>80</width>
  			<height>80</height>
  			<texturefocus>settings-programs-focus.png</texturefocus>
  			<texturenofocus>settings-programs-nofocus.png</texturenofocus>
  			<aligny>top</aligny>
  			<textoffsety>100</textoffsety>
  			<label>0</label>
  			<align>center</align>
  			<onclick>ActivateWindow(MyProgramsSettings)</onclick>
  			<onleft>9</onleft>
  			<onright>9000</onright>
  			<onup>3</onup>
  			<ondown>3</ondown>
  			<include>contentpanelslide</include>
  		</control>
  		<control type="button" id="10">
  			<description>My Weather</description>
  			<font>font10</font>
  			<posx>245</posx>
  			<posy>325</posy>
  			<width>80</width>
  			<height>80</height>
  			<texturefocus>settings-weather-focus.png</texturefocus>
  			<texturenofocus>settings-weather-nofocus.png</texturenofocus>
  			<aligny>top</aligny>
  			<textoffsety>100</textoffsety>
  			<label>8</label>
  			<align>center</align>
  			<onclick>ActivateWindow(MyWeatherSettings)</onclick>
  			<onleft>9000</onleft>
  			<onright>2</onright>
  			<onup>6</onup>
  			<ondown>6</ondown>
  			<include>contentpanelslide</include>
  		</control>
  		<control type="button" id="2">
  			<description>Network</description>
  			<font>font10</font>
  			<posx>345</posx>
  			<posy>325</posy>
  			<width>80</width>
  			<height>80</height>
  			<texturefocus>settings-network-focus.png</texturefocus>
  			<texturenofocus>settings-network-nofocus.png</texturenofocus>
  			<aligny>top</aligny>
  			<textoffsety>100</textoffsety>
  			<label>705</label>
  			<align>center</align>
  			<onclick>ActivateWindow(NetworkSettings)</onclick>
  			<onleft>10</onleft>
  			<onright>4</onright>
  			<onup>7</onup>
  			<ondown>7</ondown>
  			<include>contentpanelslide</include>
  		</control>
  		<control type="button" id="4">
  			<description>System</description>
  			<font>font10</font>
  			<posx>445</posx>
  			<posy>325</posy>
  			<width>80</width>
  			<height>80</height>
  			<texturefocus>settings-system-focus.png</texturefocus>
  			<texturenofocus>settings-system-nofocus.png</texturenofocus>
  			<aligny>top</aligny>
  			<textoffsety>100</textoffsety>
  			<label>13000</label>
  			<align>center</align>
  			<onclick>ActivateWindow(SystemSettings)</onclick>
  			<onleft>2</onleft>
  			<onright>3</onright>
  			<onup>9</onup>
  			<ondown>9</ondown>
  			<include>contentpanelslide</include>
  		</control>
  		<control type="button" id="3">
  			<description>Appearance</description>
  			<font>font10</font>
  			<posx>545</posx>
  			<posy>325</posy>
  			<width>80</width>
  			<height>80</height>
  			<texturefocus>settings-appearance-focus.png</texturefocus>
  			<texturenofocus>settings-appearance-nofocus.png</texturenofocus>
  			<aligny>top</aligny>
  			<textoffsety>100</textoffsety>
  			<label>480</label>
  			<align>center</align>
  			<onclick>ActivateWindow(AppearanceSettings)</onclick>
  			<onleft>4</onleft>
  			<onright>9000</onright>
  			<onup>8</onup>
  			<ondown>8</ondown>
  			<include>contentpanelslide</include>
  		</control>
  		<control type="image" id="0">
  			<description>bg preview</description>
  			<posx>0</posx>
  			<posy>0</posy>
  			<width>720</width>
  			<height>576</height>
  			<include>windowswitchtransition</include>
  		</control>
		</control>
	</controls>
</window>